<!DOCTYPE html>
<html lang="en">

<head>
  <meta property="og:title" content="Pico - Fast, Scalable URL Shortener & QR Code Generator" />
  <meta property="og:description" content="Experience blazing speed and scalability with Pico,
   the leading URL shortener and QR code application. Ideal for businesses of all sizes, Pico 
   provides quick, reliable, and secure link shortening and QR code 
  generation for streamlined sharing and tracking. Transform your online presence with Pico today!" />
  <meta property="og:image" content="/.well-known/acme-challenge/assets/section-1.png">
  <meta property="og:url" content="https://bysa.ma" />

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Not Found</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
  <!-- Custom styles -->
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f8f9fa;
    }

    .error-container {
      text-align: center;
    }

    .error-code {
      font-size: 72px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #dc3545;
    }

    .error-message {
      font-size: 24px;
      margin-bottom: 20px;
      color: #343a40;
    }

    .error-back-link {
      color: #007bff;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div class="error-container">
    <h1 class="error-code">404</h1>
    <p class="error-message">Oops! The page you requested could not be found.</p>
  </div>
</body>

</html>
